<h1>

<a href='http://www.curebit.com'>
  <img src='http://www.curebit.com/images/curebit-logo-transparent.png?1338501025'>
</a>

</h1>



<h2 style="text-align:left;"><font size="6" color="#ff6600">After a quick scan, which version do you like better?</font></h2>

<table>
  <tr>
    
    <td class="wsite-multicol-col" style="width:50%;padding:0 15px">
      <h2>​<font color="#ff6600">
        Do You Suck at Referrals?​
      </font></h2>
      
        5 quick ways to see
      
      <br>​      
      <div>​
      {{Blog A Content}}
      </div>
      <br>​
      ￼<a href="#" style="color:white" class="btn btn-large btn-primary">VOTE!</a>
    </td>
    
    <td class="wsite-multicol-col" style="width:50%;padding:0 15px">
      <h2>​<font color="#ff6600">
        You Suck at Referrals!
      </font></h2>
      
        And, here's why ->
      
      <br>​      
      <div>​
      {{Blog B Content}}
      </div>
      <br>​
      ￼<a href="#" style="color:white" class="btn btn-large btn-primary">VOTE!</a>
    </td>
  </tr>
</table>



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<% @surveys.each do |survey| %>
  <tr>
    <td><%= survey.name %></td>
    <td><%= survey.email %></td>
    <td><%= survey.linkhash %></td>
    <td><%= link_to 'Show', survey %></td>
    <td><%= link_to 'Edit', edit_survey_path(survey) %></td>
    <td><%= link_to 'Destroy', survey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Contact Someone About Referrals', new_survey_path %>
